/* http://cssdeck.com/labs/large-pressable-css-button*/
body {
text-align: center;
}
#footer {
position:absolute;
bottom:0;
right: 15px;
width:100%;
text-align:right;
height: 30px;
font-size: 10px;
}
#selam {
display: flex;
align-items: center;
margin-left: 10px;
margin-right: 10px;  
}
@media (max-width: 767px) {
	#selam{
	height: 100px;
	}
}

.yineButton {
	background-color:#f05b94;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ee1eb5;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	text-shadow:0px 1px 0px #c70067;
	padding:10px 15px;
	text-decoration:none;
	font-size: 35px;
	outline: none;
}

.tweetButton {
	background-color:#1da1f2;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #337fed;
	cursor:pointer;
	padding:10px 15px;
	outline: none;

	content:url(./tw.png);
	max-height: 50px;
	margin-left: 10px;
}
